@font-face {
    font-family: 'cheltenham';
    src: url(../fonts/Cheltenham_BookItalic.ttf)
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

#container {
    box-shadow: -1px 0px 6px 0px #d0d0d0;
    margin-left: 30px;
    padding-bottom: 1px;
}

#main-header {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 5px;
    border-bottom: 1px #d2d2d2 solid;
}

#sections {
    border-radius: 2px;
    background-color: white;
    left: 14px;
    top: 9px;
    float: left;
    padding: 6px;
    height: 15px;
    width: 90px;
    position: absolute;
    border: 1px #b5b5b5 solid;
    font-size: 0.67em;
    font-weight: 700;
    box-shadow: 1px 2px 2px 0px #f3f3f3;
}

#sections-icon {
    width: 14px;
    height: 14px;
    background-image: url(../images/sprite-no-repeat.svg);
    background-position: -36px 83px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: -3px;
    margin-right: 3px;
}

#sections span {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: 3px;
}

.ticker-content {
    box-sizing: border-box;
    padding: 6px;
    padding-right: 9px;
    padding-left: 8px;
    float: left;
    width: 251px;
    list-style-type: none;
    margin: 3px 0;
    border-right: 1px #c7c7c7 solid;
}

.ticker-content img {
    float: left;
    width: 65px;
    margin-right: 10px;
}

.ticker-content a {
    color: #4b4b4b;
    text-decoration: none;
}

.ticker-content h2 {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.02em;
}

.ticker-content h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 0.55em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 2px;
}

#ticker-container {
    overflow: hidden;
    box-shadow: 0px 5px 4px #eaeaea;
    border-bottom: 1px #b3b3b3 solid;
}

#ticker-container ul {
    width: 10000px;
    padding: 0;
    margin: 0;
}

#main {
    margin-left: 200px;
    border-top: 1px black solid;
    margin-top: 4px;
    width: 1125px;
}

#main header h2 {
    margin-top: 10px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 750;
}

#main header img {
    width: 100%;
}

#main header aside {
    margin-top: 5px;
    width: 610px;
    font-size: 0.885em;
    color: #555555;
    line-height: 1.3;
}

.img-credit {
    font-size: 0.8em;
    color: #797979;
}

#main article {
    width: 580px;
    margin-left: 75px;
    line-height: 1.6;
    font-size: 1.08em;
    margin-top: 75px;
    color: #2c2c2c;
}

#main article h3 {
    font-size: 1em;
}

#art-title {
    font-family: 'cheltenham', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1.88em;
    margin-top: 35px;
}

#inflation-diagram {
    width: 950px;
    height: 580px;
    background-image: url(../images/inflation-945.png);
    background-size: contain;
}
